<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Admin View</h2>
<a href="/admin/pages" class="btn btn-primary">Pages</a>
<br><br>
<a href="/admin/categories" class="btn btn-primary">Categories</a>
<br><br>
<a href="/admin/products" class="btn btn-primary">Products</a>



<%- include('../_layouts/adminfooter') %>